<form (ngSubmit)="register()" #heroForm="ngForm">
    <div>
        <md-input-container>
            <input mdInput placeholder="User name" required [(ngModel)]="userName" name="userName">
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <input mdInput type="password" placeholder="Password" required [(ngModel)]="password" name="password">
        </md-input-container>
    </div>
    <div>
        <md-input-container>
            <input mdInput type="password" placeholder="Confirm password" required [(ngModel)]="confirmPassword" name="confirmPassword">
        </md-input-container>
    </div>
    <div>
        <button type="submit" md-raised-button>Register</button>
    </div>
</form>
